# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/newleadsprograme/backend"
PassengerBaseURI "/v1/api"
PassengerPython "/home/newleadsprograme/virtualenv/backend/3.13/bin/python"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Django / Passenger routes
    RewriteRule ^v1/api(/|$) - [L]
    RewriteRule ^admin(/|$) - [L]

    # Serve existing React files/folders
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # React client-side routes
    RewriteRule ^ index.html [L]
</IfModule>

PassengerFriendlyErrorPages on

